<div class="clearfix" id="jobs-management">
  <div class="container">
    <div class="row">
      <section class="content">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3><%= t "employer.teams.team.edit_team" %></h3>
              <%= form_for [:employer, @company, @team] do |f| %>
                <%= render "form", team: @team, company: @company, f: f %>
              <% end %>
            </div>
          </div>
        </div>
     </section>
    </div>
  </div>
</div>
